/**********************************************************************************************/


/*style css for Spatio-Temporal viz*/


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit;
  }

.container{
    display: grid;
    background-color: rgb(248 250 252);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr 1fr;
    max-width: 100%;
    height: 97vh;
}

.header{
    /*Give to header  12 coluns in the first row*/
    grid-column: 1 / span 12;
    grid-row: 1/ span 1;
    
}

.header-logo{
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
    grid-column: 13 / span 1;
}

.header-img{
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
    
.header-title{
    display: grid;
    grid-column: 2 / span 10;
    margin-left: -100px;
    margin-top: 0;
}

.header-cotainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    }


.card-1{
    grid-column: 1 / span 6;
    grid-row: 2 /span 2;
    border: 3px solid rgb(255, 206, 71);
    border-radius: 8px;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;

}

.card-2{
    grid-column: 7 / span 6;
    grid-row: 2 /span 2;
    border: 3px solid rgb(255, 206, 71);
    border-radius: 8px;
    background-color: white;
    margin-right: 50px;
    margin-left: -40px;
}


.species-selector{
    grid-column: 8 / span 5;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
}


#species_selector .VirtualizedSelectFocusedOption {
    background-color: rgb(255, 206, 71);
    color: white;
  }

.leaflet-map{
    display: grid;
    grid-column: 1 / span 12;

}
